@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
/* ********************************/
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  color: #f9faf8;
  font-weight: bold;
  background-color: #3882f6;
  font-size: 18px;
}

a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.imgfix {
  width: 148px;
  height: 148px;
}

/* ********************************/

.header {
  background-color: #1f2937;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 100px;
}
/* ********************************/
.h1 {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.left-h1 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  padding: 16px;
}
.right-h1 {
  font-size: 18px;
  color: #e5e7eb;
  padding: 16px;
}
/* ********************************/
.h2 {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}
.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.awe2 {
  font-size: 18px;
  color: #e5e7eb;
}
.awesome,
.awe2 {
  margin-bottom: 8px;
}
.left-h2 {
  flex: 1;
  width: 50%;
  flex-direction: column;
  justify-items: left;
  padding: 16px;
}
.right-h2 {
  width: 50%;
  background-color: #e5e7eb;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
/* ********************************/

.first {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 100px;
}
.f1 {
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2739;
  padding: 36px;
}
.f2 {
  display: flex;
  justify-content: space-evenly;
}
.rs {
  width: 148px;
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.round {
  background-color: white;
  border-color: #3882f6;
  border-width: 4px;
  border-style: solid;
  border-radius: 16px;
  width: 148px;
  height: 148px;
}
.subtext {
  justify-content: center;
  padding: 2px;
}
/* ********************************/
.second {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
  background-color: #e5e7eb;
  margin: 0;
}
.s1 {
  padding-left: 12px;
  justify-content: center;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2739;
}
.s2 {
  padding-top: 3px;
  padding-right: 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}
/* ********************************/
.third {
  padding-top: 100px;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 100px;
}
.box {
  display: flex;
  padding-top: 30px;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 30px;
  flex-direction: row;
  background-color: #3882f6;
  border-radius: 7px;
}
.t1 {
  flex: 2;
  padding: 12px;
}
.t2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text1 {
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
}
.text2 {
  color: #f9faf8;
  font-size: 18px;
  font-weight: normal;
}
.button2 {
  padding: 8px 36px;
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 18px;
  border-color: #f9faf8;
  border-width: 2px;
  border-style: solid;
}

/* ********************************/
.footer {
  font-size: 12px;
  color: #e5e7eb;
  font-weight: normal;
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 12px;
  padding-left: 3px;
}
